*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    margin: 0;
}

.row {
    display: flex;
}

.side {
    text-align: center;
    flex: 40%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

.main {
    flex: 60%;
    background-color: rgb(243, 191, 199);
    padding: 20px;
    border: 2px solid black;
}

.negocio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.negocio img {
    width: 420px;
}


